/* Smooth scrolling for the entire HTML document */
html {
    scroll-behavior: smooth;
}

/* Body styling: background gradient and font family */
body {
    background: radial-gradient(ellipse at center, rgba(63, 100, 145, 1) 0%, rgba(26, 26, 35, 1) 70%, rgba(10, 10, 10, 1) 100%);
    font-family: "loos-extended", sans-serif;
}

/* Universal box-sizing and font-family for all elements */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "loos-extended", sans-serif;

}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(26, 26, 35, 0.9);
    z-index: 9999;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 208, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Styling for the navigation links list */
.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

/* Styling for individual navigation links */
.top-nav a {
    color: white;
    text-decoration: none;
    font-family: "loos-extended", sans-serif;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for navigation links */
.top-nav a:hover {
    background-color: rgb(255, 208, 0);
    color: rgb(26, 26, 35);
}

.video-container {
    position: relative;
    width: 100%;
    height: 90vh;
}

/* styling filmiku */
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

.logo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}

.logo {
    max-width: 800px;
    width: 80vw; 
}

.about-me-section {
    padding: 50px 0;
}

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.image-wrapper img {
    width: 300px;
    height: auto;
    outline: 20px solid rgb(255, 208, 0);
}

.text-content {
    color: white;
}

.name-container {
    transform: rotate(-5deg);
    margin-bottom: 20px;
}

.name {
    font-size: 3em;
    font-family: "loos-extended", sans-serif;
}

.nickname {
    font-size: 2em;
    font-family: "loos-extended", sans-serif;
}

.arrow-image {
    width: 300px; /* Increased size */
    height: auto;
    margin-top: 10px; 
}

.wspolprace-section {
    padding: 50px 0;
    text-align: center;
}

.wspolprace-section h2 {
    font-size: 3em;
    color: white;
    margin-bottom: 30px;
}

.custom-font-text {
    font-family: "loos-extended", sans-serif;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px; 
    height: auto;
    outline: 6px solid rgb(255, 208, 0);
}

.experience-section {
    padding: 50px 0;
    text-align: center;
}

.experience-section h2 {
    font-size: 3em;
    color: white;
    margin-bottom: 30px;
    font-family: "loos-extended", sans-serif;
}

.yellow-text {
    color: rgb(255, 208, 0);
    font-family: "loos-extended", sans-serif;
}

.experience-section .gallery img {
    outline: none;
}

.jeszcze-wiecej-wspolprac-section {
    padding: 10px 0;
    text-align: left;
}

.jeszcze-wiecej-wspolprac-section h2 {
    font-size: 3em;
    color: white;
    margin-bottom: 0;
    font-family: "loos-extended", sans-serif;
    padding-left: 10%;
}

.jeszcze-wiecej-wspolprac-section img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.wspolprace-img {
    width: 80% !important;
}

.new-section-container img {
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.gradient-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust height as needed */
    background: linear-gradient(to top, rgba(26, 26, 35, 1), rgba(26, 26, 35, 0));
}

@media (max-width: 768px) {
    .logo {
        max-width: 600px;
    }

    .about-me-container {
        gap: 30px;
    }

    .image-wrapper img {
        width: 250px;
        outline-width: 40px;
    }

    .arrow-image {
        width: 350px;
    }

    .wspolprace-section h2, .experience-section h2 {
        font-size: 2.5em;
    }

    .gallery {
        gap: 30px;
    }

    .gallery img {
        width: 250px;
    }
}

@media (max-width: 480px) {
    .logo {
        max-width: 400px;
    }

    .about-me-container {
        gap: 20px;
        padding: 20px;
    }

    .image-wrapper img {
        width: 180px;
        outline-width: 10px;
    }

    .arrow-image {
        width: 180px;
    }

    .wspolprace-section h2, .experience-section h2 {
        font-size: 2em;
    }

    .gallery {
        gap: 20px;
    }

    .gallery img {
        width: 200px;
    }
}

.new-section {
    padding: 50px 0;
}

.new-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.left-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 2;
}

.left-images img {
    width: 500px;
    height: auto;
}

.right-image {
    order: 1;
}

.right-image img {
    width: 500px;
    height: auto;
}


/* Moje Prace Section */
.moje-prace-section {
    padding: 50px 0;
}

.moje-prace-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.prace-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.prace-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.prace-text {
    text-align: center;
    font-family: "loos-extended", sans-serif;
}

.prace-text h2 {
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
    font-family: "loos-extended", sans-serif;
}

.prace-text h3 {
    font-size: 1.5em;
    color: #20c997; /* Teal color */
    font-family: "loos-extended", sans-serif;
}

.prace-right-videos {
    display: flex;
    gap: 40px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    width: 400px;
    outline: 6px solid rgb(255, 208, 0);
    margin-bottom: 20px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive for Moje Prace Section */
@media (max-width: 1200px) {
    .video-placeholder {
        width: 280px;
        height: 157px;
    }
}

@media (max-width: 992px) {
    .moje-prace-container {
        flex-direction: column;
        align-items: center;
    }
    .prace-right {
        order: 1;
    }
    .prace-left {
        order: 2;
    }
}

@media (max-width: 768px) {
    .prace-text h2 {
        font-size: 2.5em;
    }
    .prace-text h3 {
        font-size: 1.2em;
    }
    .prace-right-videos {
        flex-direction: column;
        align-items: center;
    }
    .prace-left {
        align-items: center;
    }
    .video-wrapper {
        width: 100%;
        max-width: 320px;
    }
}


@media (max-width: 768px) {
    .new-section-container {
        flex-direction: column;
    }
    .left-images {
        order: 2;
    }
    .right-image {
        order: 1;
    }
}

@media (max-width: 576px) {
    .left-images img, .right-image img {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .left-images img, .right-image img {
        width: 100%;
        max-width: 300px;
    }
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 10000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    display: flex;
}

.modal-content {
    background: radial-gradient(ellipse at center, rgba(63, 100, 145, 1) 0%, rgba(26, 26, 35, 1) 70%, rgba(10, 10, 10, 1) 100%);
    margin: auto;
    padding: 40px;
    border: 1px solid rgba(255, 208, 0, 0.5);
    width: 80%; 
    max-width: 900px;
    border-radius: 15px;
    transform: scale(0.9);
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
    width: 10px;
}

.modal-content::-webkit-scrollbar-track {
    background: #1a1a23;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #ffd000;
    border-radius: 5px;
}

.modal.open .modal-content {
    transform: scale(1);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Media query for tablets (e.g., iPads) */
@media (max-width: 1024px) {
    .top-nav ul {
        gap: 20px;
    }

    .top-nav a {
        font-size: 1em;
    }

    .logo {
        max-width: 500px;
    }

    .about-me-container {
        
    }

    .image-wrapper img {
        width: 200px;
        outline-width: 30px;
    }

    .arrow-image {
        width: 250px;
    }

    .wspolprace-section h2, .experience-section h2 {
        font-size: 2em;
    }

    .gallery {
        gap: 20px;
    }

    .gallery img {
        width: 200px;
    }

    .left-images img, .right-image img {
        width: 100%;
        max-width: 300px;
    }

    .video-wrapper {
        width: 100%;
        max-width: 280px;
    }
}

/* Media query for smaller phones */
@media (max-width: 320px) {
    .top-nav ul {
        gap: 10px;
    }

    .top-nav a {
        font-size: 0.8em;
        padding: 8px 10px;
    }

    .logo {
        max-width: 200px;
    }

    .about-me-container {
        gap: 10px;
    }

    .image-wrapper img {
        width: 150px;
        outline-width: 20px;
    }

    .arrow-image {
        width: 150px;
    }

    .wspolprace-section h2, .experience-section h2 {
        font-size: 1.5em;
    }

    .gallery {
        gap: 10px;
    }

    .gallery img {
        width: 150px;
    }

    .left-images img, .right-image img {
        width: 100%;
        max-width: 200px;
    }

    .video-wrapper {
        width: 100%;
        max-width: 200px;
    }
}

.filmy-section {
    padding: 80px 0;
    text-align: center;
}

.filmy-title {
    font-size: 4em;
    color: white;
    margin-bottom: 30px;
    font-family: "loos-extended", sans-serif;
}

.filmy-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.film {
    text-align: center;
}

.film-title {
    font-size: 2em;
    color: rgb(255, 208, 0);
    font-family: "loos-extended", sans-serif;
    margin-bottom: 20px;
}

.video-placeholder {
    width: 320px;
    height: 180px;
    background-color: #333;
    border: 2px solid rgb(255, 208, 0);
}

.video-placeholder-vertical {
    width: 180px;
    height: 320px;
    background-color: #333;
    border: 2px solid rgb(255, 208, 0);
}

.video-wrapper-vertical {
    position: relative;
    padding-bottom: 177.77%; /* 9:16 aspect ratio */
    height: 0;
    overflow: hidden;
    width: 225px;
    outline: 6px solid rgb(255, 208, 0);
}

.video-wrapper-vertical iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wspomnienia-section {
    padding: 50px 0;
    text-align: center;
}

.wspomnienia-title {
    font-size: 3em;
    color: white;
    margin-bottom: 30px;
    font-family: "loos-extended", sans-serif;
}

.light-blue-text {
    color: #3498db;
}

.wspomnienia-container {
    text-align: center; /* Center align the contents */
}

.wspomnienia-middle {
    color: white;
    font-family: "loos-extended", sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px; /* Add space below the text */
}

.wspomnienia-videos {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    gap: 47px; /* Space between the two videos */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.wspomnienia-left, .wspomnienia-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-caption {
    color: white;
    font-family: "loos-extended", sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
}

.wspomnienia-video-vertical {
    width: 225px;
    height: 400px;
    outline: 6px solid rgb(255, 208, 0);
}



/* Hamburger Menu */
.hamburger-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: none; /* Hidden by default */
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Pop-up Menu */
.popup-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.popup-menu.open {
    display: flex;
    opacity: 1;
}

.popup-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.popup-menu li {
    margin: 20px 0;
}

.popup-menu a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.popup-menu a:hover {
    background-color: rgb(255, 208, 0);
    color: rgb(26, 26, 35);
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .top-nav {
        justify-content: flex-end;
        padding-right: 20px;
    }
}
@media (max-width: 768px) {
    .filmy-container {
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .filmy-title {
        font-size: 3em;
    }

    .video-wrapper, .video-wrapper-vertical {
        width: 100%;
        max-width: 320px;
    }
}
@media (max-width: 768px) {
    .logo {
        max-width: 80vw;
    }

    .wspomnienia-video-vertical {
        width: 100%;
        max-width: 225px;
    }

    .filmy-title,
    .prace-text h2,
    .jeszcze-wiecej-wspolprac-section h2 {
        font-size: 2.5em;
    }

    .wspomnienia-title {
        font-size: 2.5em;
        text-align: center;
        padding: 0 15px;
    }
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.play-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent white;
}

@media (max-width: 768px) {
    .video-wrapper.video-active iframe {
        display: block;
    }

    .video-wrapper.video-active .play-button {
        display: none;
    }
}

@media (min-width: 769px) {
    .play-button {
        display: none;
    }
}


@media (max-width: 480px) {
    .about-me-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-wrapper, .text-content {
        flex: 1;
        padding: 10px;
    }
    .image-wrapper img, .arrow-image {
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 768px) {
    body,
    .about-me-section,
    .new-section,
    .wspolprace-section,
    .experience-section,
    .filmy-section,
    .wspomnienia-section,
    .moje-prace-section,
    .jeszcze-wiecej-wspolprac-section {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .top-nav {
        justify-content: center;
    }

    .hamburger-menu {
        display: block;
        transform: scale(1.5);
    }
}

/* Konsultacja Popup */
#konsultacja-popup .modal-content {
    background-color: #000;
    border: 2px solid rgb(255, 208, 0);
    border-radius: 15px;
    margin: 15vh 15%;
    width: 70%;
    overflow-y: auto;
    max-height: 70vh;
    text-align: center;
}

.konsultacja-title {
    color: rgb(255, 208, 0);
    font-family: "loos-extended", sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.konsultacja-text {
    color: white;
    font-family: "liebling-regular", sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
}

.na-spotkaniu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.na-spotkaniu-title {
    color: rgb(255, 208, 0);
    font-family: "loos-extended", sans-serif;
    font-size: 1.8em;
    margin-right: 10px;
}

.na-spotkaniu-arrow {
    width: 80%;
    height: auto;
}

.konsultacja-list {
    color: white;
    font-family: "liebling-regular", sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    list-style-position: inside;
    text-align: left;
    margin-top: 20px;
}

.czas-cena-container {
    color: white;
    font-family: "liebling-regular", sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;
}

.popup-images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.popup-image {
    width: 50%;
    height: auto;
    margin-right: 10%;
    border: 4px solid rgb(255, 208, 0);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 208, 0, 0.5);
}

.popup-logo {
    width: 36%;
    height: auto;
}

#konsultacja-btn {
    background-color: #ffd700;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-family: "loos-extended", sans-serif;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}

#konsultacja-btn:hover {
    background-color: rgb(26, 26, 35);
    color: rgb(255, 208, 0);
}
